<h1 id="user_goals"><%= @user.to_s.capitalize %>'s Goals</h1>

<h2>Pending Goals:</h2>

<% unless @uncompleted.empty? %>
  <% @uncompleted.each do |goal| %>
    <%= render partial: 'goal', locals: { goal: goal } %>
  <% end %>
<% end %>

<hr>

<h2>Completed Goals:</h2>
<% if @completed %>
  <% @completed.each do |goal| %>
    <%= render partial: 'goal', locals: { goal: goal } %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <hr>
  <h2>Create a New Goal</h2>
  <%= render partial: 'form', locals: { goal: Goal.new, user: current_user, new_goal: true } %>
<% end %>